/* .signup-container .icon-item {
    margin: 0.5rem 0;
}
.signup-container .icon-item:last-of-type {
    margin-bottom: 2rem;
} */
/* .signup-container .button-link {
    width: 100%;
} */
.signup-container .center-container--body {
    max-width: 300px;
}
/* .plans-button,
.plans-button .button-link {
} */
