.layout {
    min-height: 100vh;
    width: 100%;
    min-width: 34rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.layout--dark {
    background-color: #000;
    color: #fff;
}

.layout--light {
    background-color: #fff;
    color: #000;
}
