.faq {
    background-color: #000;
}
/* 
.faq .section-panel {
    padding: 5rem 0;
} */

.faq__title {
    text-align: center;
    line-height: 1.1;
    margin-bottom: 0.8rem;
    padding: 0 5%;
}
@media screen and (min-width: 500px) {
    .faq__title {
        padding: 0;
    }
}

.faq-accordion {
    margin: 2rem auto;
}

@media (min-width: 550px) {
    .faq-accordion {
        margin: 2.4rem auto;
    }
}

@media (min-width: 950px) {
    .faq-accordion {
        margin: 3.2rem auto;
    }
}
