/* login.js */

@media screen and (max-width: 739px) {
    .login-wrapper {
        background-color: rgba(0, 0, 0, 1);
    }
}

.login-wrapper {
    /* background-color: rgba(0, 0, 0, 0.75); */
    position: relative;
    /* background-color: black; */
}

.login-wrapper .footer {
    background-color: rgba(0, 0, 0, 0.75);
}
